<!DOCTYPE HTML>
<html lang="en" >
    <head>

        {%- include head.html -%}

        {% assign reversed_posts = site.posts | reverse %}

        {% if reversed_posts %}
            <link rel="next" href="{{site.baseurl}}{{reversed_posts.first.url}}" />
        {% endif %}
    </head>
    <body>
        <div class="book">

            {%- include toc-date.html -%}

            <div class="book-body">
              
               <div class="book-header" role="navigation">
                   <!-- Title -->
                    <h1 style="color: white !important;">
                        {% if page.title %}
                            <a  style="color: white !important;" href="https://www.blockchainbilliards.io" >{{ page.title | escape }}</a>
                        {% else %}
                            <a href="." >{{ site.title | escape }}</a>
                        {% endif %}
                    </h1>
                    
                </div>
                

                <div class="body-inner">
                    
                    {%- include body.html -%}

                    <a href="{{site.baseurl}}/" class="navigation navigation-pre navigation-unique">
                        <i class="fa"></i>
                    </a>

                    {% if reversed_posts %}
                            <a href="{{site.baseurl}}{{reversed_posts.first.url}}" style="vertical-align: top" class="navigation navigation-next navigation-unique" aria-label="Next page: {{reversed_posts.first.title}}" style="display: flex; align-items: center; text-decoration: none;">
                                <span style="font-size: medium; margin-right: 8px;">Next: {{reversed_posts.first.title}}<i class="fa fa-angle-right" style="margin-left: 5px;"></i></span>
                                
                              </a>
               
                    {% endif %}
                </div>
            </div>

            <script>
            var gitbook = gitbook || [];
            gitbook.push(function() {
                gitbook.page.hasChanged({%- include metadata-home.json.tpl -%});
            });
            </script>
        </div>

        {%- include footer.html -%}

    </body>
</html>