<!DOCTYPE HTML>
<html lang="en" >
    <head>

        {%- include head.html -%}

        {% if page.previous %}
            <link rel="prev" href="{{site.baseurl}}{{page.previous.url}}" />
        {% else %}
            <link rel="prev" href="{{site.baseurl}}/" />
        {% endif %}

        {% if page.next %}
            <link rel="next" href="{{site.baseurl}}{{page.next.url}}" />
        {% endif %}
    </head>
    <body>
        <div class="book">

            {%- include toc-date.html -%}

            <div class="book-body">
                <div class="book-header" role="navigation">
                    <!-- Title -->
                    <h1>
                        <i class="fa fa-circle-o-notch fa-spin"></i>
                        {% if page.title %}
                            <a href="." >{{ page.title | escape }}</a>
                        {% else %}
                            <a href="." >{{ site.title | escape }}</a>
                        {% endif %}
                    </h1>
                </div>

                <div class="body-inner">
                    {%- include body.html -%}

                    {% if page.previous %}
                        <a href="{{site.baseurl}}{{page.previous.url}}" style="vertical-align: top" class="navigation navigation-prev navigation-unique" aria-label="Previous page: {{page.previous.title}}">
                            <span style="font-size: medium; margin-right: 8px;"><i class="fa fa-angle-left" style="margin-right: 5px;"></i>Previous: {{page.previous.title}}</span>
                        </a>
                    {% else %}
                        <a href="{{site.baseurl}}/" class="navigation navigation-prev navigation-unique" aria-label="Previous page: {{site.title}}">
                            <span style="font-size: medium; margin-right: 8px;"><i class="fa fa-angle-left" style="margin-right: 5px;"></i>Previous: {{site.title}}</span>
                        </a>
                    {% endif %}

                    {% if page.next %}
                    <a href="{{site.baseurl}}{{page.next.url}}" style="vertical-align: top" class="navigation navigation-next navigation-unique" aria-label="Next page: {{page.next.title}}" style="display: flex; align-items: center; text-decoration: none;">
                        <span style="font-size: medium; margin-right: 8px;">Next: {{page.next.title}}<i class="fa fa-angle-right" style="margin-left: 5px;"></i></span>
                        
                      </a>
                      
                      
                      
                    {% endif %}
                </div>
            </div>

            <script>
            var gitbook = gitbook || [];
            gitbook.push(function() {
                gitbook.page.hasChanged({%- include metadata-post.json.tpl -%});
            });
            </script>
        </div>

        {%- include footer.html -%}

    </body>
</html>